.App {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

button {
  margin: 5px 0;
  height: 35px;
  border-radius: 6px;
}